<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset=utf-8" />
        <title>{% block title %}SYmple Blog{% endblock %} - On Symfony</title>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% block stylesheets %}
            <link href='http://fonts.googleapis.com/css?family=Irish+Grover' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
            <link href="{{ asset('css/screen.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <section id="wrapper">
            <header id="header">

                <hgroup>
                    <h2>{% block blog_title %}<a href="{{ path('BloggerBlogBundle_homepage') }}">prosto blog</a>{% endblock %}</h2>
                    <h3>{% block blog_tagline %}<a href="{{ path('BloggerBlogBundle_homepage') }}">just a simple blog in Symfony2 </a>{% endblock %}</h3>
                </hgroup>

                <div class="top">
                    {% block navigation %}
                        <nav>
                            <ul id="menu" class="menu navigation ca-menu">
                              <li>
                                  <a href="{{ path('BloggerBlogBundle_homepage') }}">
                                      <span class="ca-icon">A</span>
                                      <div class="ca-content">
                                          <h2 class="ca-main">Home</h2>
                                          <h3 class="ca-sub">Personalized to your needs</h3>
                                      </div>
                                  </a>
                              </li>
                              <li>
                                <a href="{{ path('BloggerBlogBundle_about') }}">
                                    <span class="ca-icon">I</span>
                                    <div class="ca-content">
                                        <h2 class="ca-main">About</h2>
                                        <h3 class="ca-sub">Personalized to your needs</h3>
                                    </div>
                                </a>
                              </li>
                              <li>
                                <a href="{{ path('BloggerBlogBundle_contact') }}">
                                    <span class="ca-icon">C</span>
                                    <div class="ca-content">
                                        <h2 class="ca-main">Contact</h2>
                                        <h3 class="ca-sub">Personalized to your needs</h3>
                                    </div>
                                </a>
                              </li>
                            </ul>
                        </nav>
                    {% endblock %}
                </div>


            </header>
            <div class="clr"></div>
            <div id="container" class="container">
                <div class="main content">
                    <section class="main-col">
                        {% block body %}{% endblock %}
                        {% block pagination %}
                          <nav class="pagination">
                            <ul>
                              <li><a class="selected" href="#">1</a></li>
                              <li><a href="#">2</a></li>
                              <li><a href="#">3</a></li>
                              <li><a href="#">4</a></li>
                              <li><a href="#">5</a></li>
                              <li><a href="#">6</a></li>
                            </ul>
                          </nav>
                        {% endblock %}
                    </section>
                    <aside class="sidebar">
                        {% block sidebar %}{% endblock %}
                    </aside>
                </div>
                <div id="footer">
                    {% block footer %}
                        <p>Copyright © 2014 by <a href="http://sergiyodarych.livejournal.com/">Sergiy Odarych</a>. All rights reserved. </p>
                        <p>Symfony2 Symple BLog - created by <a href="https://github.com/karmeljuk">karmeljuk</a></p>
                    {% endblock %}
                </div>
            </div>
        </section>

        {% block javascripts %}

          <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
          <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>

        {% endblock %}
    </body>
</html>

